*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.movie-card-wrapper {
    min-width: 50%;
    display: flex;
}

.movie-card-wrapper:nth-child(odd) .movie-card {
    margin-left: auto;
}

.movie-card {
    display: flex;
    width: 454px;
    height: 281px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin: 19px 35px 19px 0;
}

.movie-poster {
    width: 183px;
    height: 281px;
}

.movie-info {
    width: 228px;
    height: 129px;
    margin-left: 20px;
    margin-right: 20px;
}
.movie-name {
    margin-top: 12px;
    font-size: 20px;
    line-height: 28px;
}
.movie-release-date {
    margin: 7px 0;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}
.movie-genre {
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    width: 46px;
    height: 20px;
    text-align: center;
}
.movie-synopsis {
    font-size: 12px;
    line-height: 22px;
}