*{
    margin: 0;
    padding: 0;
}

.not-result-wrapper {
    display: flex;
}
.not-result {
    margin-left: auto;
    margin-right: auto;
}

.movie-card-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
}