*{
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.app-container {
    max-width: 1010px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
.not-result-wrapper {
    display: flex;
}
.not-result {
    margin-left: auto;
    margin-right: auto;
}

