*{
    margin: 0;
    padding: 0;
}
.app-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 50px;
}
.not-result-wrapper {
    display: flex;
}
.not-result {
    margin-left: auto;
    margin-right: auto;
}

.movie-card-list {
    display: flex;
    flex-wrap: wrap;
}